@import "color.scss";

.write{
  padding-top: 130px;
  background-color: $lightGray2;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width:767px) {
  .write{
    padding-top: 150px;
  }
}